/* IMPORTS */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* CSS RESET */

:root {
  --bg-primary: #dde3e6;
  --bg-lprimary: #f1f1f1;
  --bg-secondary: #738b9b;
  --bg-lsecondary: #a0afb7;
  --red: #fc6464;
  --lred: rgb(240, 125, 125);
  --transition: all ease-out 0.3s;
}

body,
body *,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-primary);
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.2rem;
}

/* CALCULATOR */

.calculator {
  width: 400px;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.display-container {
  min-height: 15rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: var(--bg-secondary);
}

.previous-value-text {
  font-size: 1.6rem;
  color: var(--bg-primary);
}

.current-value-text {
  font-size: 2.4rem;
  font-weight: 700;
  color: #fff;
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.span-2 {
  grid-column: span 2;
}

.btn {
  height: 60px;
  cursor: pointer;
  border: solid 1px var(--bg-lprimary);
  font-size: 1.8rem;
  color: var(--bg-secondary);
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--bg-lsecondary);
  color: #fff;
}

.btn:active {
  transform: translateY(2px);
}

.btn-operation,
.btn-dot {
  font-size: 2.6rem;
}

.btn-operation,
.btn-clear,
.btn-delete {
  background-color: var(--bg-primary);
}

.btn-number {
  background-color: #fff;
}

.btn-equals {
  color: #fff;
  background-color: var(--red);
}

.btn-equals:hover {
  background-color: var(--lred);
}

@media screen and (min-width: 992px) {
  .previous-value-text {
    font-size: 2rem;
  }

  .current-value-text {
    font-size: 2.8rem;
  }
}
